[Unit]
Description=Hermes pod %i
Before=hermes@%i.service hermes-dashboard@%i.service

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=-%S/state/environment
EnvironmentFile=-%S/state/agent_%i.env
WorkingDirectory=%S/state
RemainAfterExit=yes
Type=oneshot
ExecStartPre=/usr/local/bin/runagent sync-agent-runtime --agent-id %i
ExecStartPre=-/usr/bin/podman pod rm --force hermes-pod-%i
ExecStart=runagent /usr/bin/podman pod create \
		--replace \
		--name hermes-pod-%i \
		--infra-name hermes-pod-%i-infra \
		--network=slirp4netns:allow_host_loopback=true \
		--publish 127.0.0.1:${AGENT_DASHBOARD_HOST_PORT}:9120
ExecStop=-/usr/bin/podman pod rm --force hermes-pod-%i
